/* const buttonStyle = {
    fontSize:"30px",
    backgoundColor: "#00a5ab",
    width:"100",
    margin: "10px",
    color: "white",
    padding: "15px",
    borderRadius: "30px"
}; */

button {
    width:100;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterBtn {
    background-color: #00a5ab;
    
}

.resetBtn {
    background-color: #00a5ab;
}

.count {
    font-size: 50px;
    padding: 20px;
}

.totalCount {
    color: #00a5ab;
}